@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME!</h1>
    <p class="lead">This is the splashpage for the Overwatch Team listing.</p>
    @Html.ActionLink("Teams","Index","Teams", null, new { @class="btn btn-primary btn-lg"})
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            COLUMN 1
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            COLUMN 2
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            COLUMN 3
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>